{% extends 'base.html' %} {% block title %} Eliminar Empleado {% endblock title %} {% block content %} {% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Eliminar Empleado: {{ object.first_name }}</h1>
        <form class="cell" method="POST">{% csrf_token %}
            <div class="callout alert">
                <h5 class="text-center">¿Desea eliminar este empleado?</h5>
                <button type="submit" class="button alert expanded">Eliminar</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}